body {
    background-color: #eee;
}
nav {
  width: 100%;
  height: auto;
}
.navbar-container {
  float: right;
  width: 300px;
  display: flex;
  text-align: right;
}
.navbar-button {
  margin: auto;
}
.navbar-button button {
  background-color: blue;
  color: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
}
header {
  text-align: center;
  padding-top: 80px;
  clear: both;
}
#headerBrands {
  width: 380px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
header > img {
  width: 130px;
  height: auto;
  padding-bottom: 10px;
}
#headerBrands img {
  height: 20px;
  width: 20px;
}
header a {
  margin: 0 4px 0 4px;
}
.form-container {
  border: 1px solid #333;
  text-align: center;
  width: 380px;
  margin: 0 auto 50px auto;
  clear: both;
  border-radius: 2px;
  background-color: #fff;
}
form * {
  display: block;
  margin: auto;
}
form label {
  width: 300px;
  margin-top: 20px;
  text-align: left;
}
form input {
  padding: 5px 0 5px 0;
  width: 300px;
  border-radius: 2px;
  border: 1px solid #aaa;
}
form span {
  font-size: 12px;
  text-align: left;
  width: 300px;
}
form button {
  background-color: blue;
  color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
}
#legal-notice {
    width: 380px;
    padding: 10px 30px;
    box-sizing: border-box;
}
.form-footer {
  background-color: #eee;
  color: #aaa;
  font-size: 12px;
}
.form-footer div {
  padding: 20px;
}
a {
  text-decoration: none;
}
footer {
  clear: both;
  font-size: 14px;
  text-align: center;
}
.footer-container {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
